{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/templates.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}YetiBook{% endblock %}</title>
         {#
            Those two blocks defines frontend entrypoint for CSS and JavaScript assets
            See https://symfony.com/doc/current/frontend.html
        #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script
                src="https://code.jquery.com/jquery-3.7.1.min.js"
                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                crossorigin="anonymous">

        </script>
        {# <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script> #}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            {% set _route = app.request.get('_route') %}
            <header>
                <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
                    <div class="container">

                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#appNavbar" aria-controls="appNavbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="navbar-collapse collapse" id="appNavbar">
                            <ul class="navbar-nav ml-auto">
                                {% block header_navigation_links %}
                                    <li class="nav-item{{ _route == 'homepage' ? ' active' : '' }}">
                                        <a class="nav-link" href="{{ path('homepage') }}">
                                            <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.homepage'|trans }}
                                        </a>
                                    </li>
                                    <li class="nav-item{{ _route == 'list' ? ' active' : '' }}">
                                        <a class="nav-link" href="{{ path('list') }}">
                                            <i class="fa fa-book" aria-hidden="true"></i> {{ 'menu.posts'|trans }}
                                        </a>
                                    </li>
                                    <li class="nav-item{{ _route == 'stats' ? ' active' : '' }}">
                                        <a class="nav-link" href="{{ path('stats') }}">
                                            <i class="fa fa-chart-bar" aria-hidden="true"></i> {{ 'menu.stats'|trans }}
                                        </a>
                                    </li>
                                {% endblock %}


                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="modal" data-target="#locale-selector-modal" role="button" id="locales">
                                        <i class="fa fa-solid fa-globe" aria-hidden="true"></i>
                                        <span class="caret"></span>
                                        <span class="sr-only">{{ 'menu.choose_language'|trans }}</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    {{ include('security/_login_btn.html.twig') }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <div id="locale-selector-modal" class="modal" tabindex="-1" aria-hidden="true">
                <div class="modal-lg modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="modal-title" lang="en">
                                {# display this title always in English to make the language selector easier to use #}
                                Choose your language
                            </p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>


                        <div class="modal-body">
                            <ul class="locales">
                                {% for locale in locales() %}
                                    {% set is_active = app.request.locale == locale.code %}
                                    {% set is_rtl = locale.code in ['ar', 'fa', 'he'] %}
                                    <li class="{{ is_active ? 'active' }} {{ is_rtl ? 'rtl' }}" translate="no">
                                        <a class="stretched-link" lang="{{ locale.code }}" hreflang="{{ locale.code }}" href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">
                                            {{ locale.name|capitalize }}
                                            <small>{{ locale.code }}</small>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <div class="container body-container">
            {% block body %}

                    <div class="row">
                        {%if layout is defined and layout == 'full'%}
                            <div id="main" class="col-sm-12 col-md-12">
                        {%else%}
                            <div id="main" class="col-sm-9">
                        {%endif%}
                            {% block main %}{% endblock %}
                        </div>

                        <div id="sidebar" class="col-sm-3">
                            {% block sidebar %}{% endblock %}
                        </div>

                    </div>

            {% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-md-6">
                            <p>&copy; {{ 'now'|date('Y') }} - The Symfony Project</p>
                            <p>{{ 'mit_license'|trans }}</p>
                        </div>
                        <div id="footer-resources" class="col-md-6">
                            <p>
                                <a href="https://twitter.com/symfony" title="Symfony Twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="https://symfony.com/blog/" title="Symfony Blog">
                                    <i class="fa fa-rss" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {# it's not mandatory to set the timezone in localizeddate(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
        <!-- Page rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} -->
    </body>
</html>
