<div class="row">

    <div class="col-md-6">
        <i class="fa fa-ruler"></i> {{ post.width }} cm
    </div>
    <div class="col-md-6">
        <i class="fa fa-universal-access"></i> {{ post.weight }} Kg
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <i class="fa fa-address-card"></i> {{ post.street }}  {{ post.city }}   {{ post.zip }} {{ post.country }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ post.title }}
    </div>
</div>
<section>
    {{ post.content }}
</section>